<div ui-view="search"></div>
<div class="row friendlist">
    <div class="ui-card col-xs-12 col-lg-3">
        <a href="#" class="action">invite</a>
        <img class="icon" src="images/icon1.jpg" />
        <h1>Alex Aaron</h1>
        <p>0 trips together</p>
    </div>
    <div class="ui-card col-xs-12 col-lg-3">
        <a href="#" class="action">invite</a>
        <img class="icon" src="images/icon1.jpg" />
        <h1>Name</h1>
        <p>Location</p>
    </div>
</div>
<input ng-model='twoway' class="form-control">
<div>
    {{ twoway }}
</div>

<a ui-sref="state1">State 1</a>
<a ui-sref="state2">State 2</a>

<p>Nothing here {{'yet' + '!'}}</p>
<div ng-repeat="phone in phones">
    phones {{ phone.name }}
</div>