<div class="container dark-bg">
	<h5 class="pre-stripe">FLIGHTS FOR YOU</h5>
	<div class="row stripe">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-3 you">
					<div class="round-icon icon-you">
						<img src="images/you-icon.jpg" />
					</div>
				</div>
				<div class="col-xs-6 remove-padding">
					<ul class="item-list overview-item-list">
						<li class="airport">
							SXF
							<small>06.43 PM</small>
						</li>
						<li class="arrow"></li>
						<li class="airport">
							WAR
							<small>06.43 PM</small>
						</li>
					</ul>
					<ul class="item-list overview-item-list">
						<li class="airport">
							WAR
							<small>06.43 PM</small>
						</li>
						<li class="arrow"></li>
						<li class="airport">
							SXF
							<small>06.43 PM</small>
						</li>
					</ul>
				</div>
				<div class="col-xs-3 remove-padding-left">
					<div class="price">
						<h3>€ 123</h3>
						<a href="" class="btn btn-lg btn-default btn-primary">Book</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-xs-12 agency">
			<small>Booking with Lufthansa.com</small>
		</div>
	</div>
	<h5 class="pre-stripe">FLIGHTS FOR NELLE</h5>
	<div class="row stripe">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-3 you">
					<div class="round-icon icon-friend">
						<img src="images/friend-icon.jpg" />
					</div>
				</div>
				<div class="col-xs-6 remove-padding">
					<ul class="item-list overview-item-list">
						<li class="airport">
							SXF
							<small>06.43 PM</small>
						</li>
						<li class="arrow"></li>
						<li class="airport">
							WAR
							<small>06.43 PM</small>
						</li>
					</ul>
					<ul class="item-list overview-item-list">
						<li class="airport">
							WAR
							<small>06.43 PM</small>
						</li>
						<li class="arrow"></li>
						<li class="airport">
							SXF
							<small>06.43 PM</small>
						</li>
					</ul>
				</div>
				<div class="col-xs-3 remove-padding-left">
					<div class="price">
						<h3>€ 123</h3>
						<a href="" class="btn btn-lg btn-default btn-primary">Book</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="col-xs-12 agency">
			<small>Booking with Lufthansa.com</small>
		</div>
	</div>	
</div>