<a href="/" class="logo-header">
</a>
<header class="header-with-icons">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 icons-container">
				<div class="round-icon icon-you">
					<img src="images/you-icon.jpg" />
				</div>
				<div class="round-icon icon-friend">
					<img src="images/friend-icon.jpg" />
				</div>
			</div>
			<div class="col-xs-7">
				<br>
				<h4>
					Your are spending 47 hours with
					<b>Nele</b>
				</h4>
			</div>
		</div>
	</div>
</header>
<header class="header-tabs">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 ">
				<h2>Warsaw</h2>
				<h4>Poland</h4>
			</div>
			<div class="col-xs-6 text-align-right">
				<a href=''>Share link</a>
				<a href=''>Pick a different city</a>
			</div>
		</div>
	</div>
</header>

<ul id="tabs">
	<li class="active col-xs-6"><a>Flights</a></li>
	<li class="col-xs-6"><a>Rental Homes</a></li>
</ul>


<ui-view></ui-view>