<div class="container dark-bg">
	<div class="row"> 
		<div class='col-xs-12'>
			<h5 class="pre-stripe col-xs-8">RENTAL HOMES FOR YOU AND NELE</h5>
			<div class="col-xs-4 text-align-right">
				<img src="images/homeawaylogo.png" style="width: 100%; height: auto;" />
			</div>
		</div>
	</div>
	<div class="row stripe hotelstripe">
		<div class="row">
			<div class="col-xs-3 remove-padding rental-pic">
				<img src="images/hotel-placeholder.png" />
			</div>
			<div class="col-xs-5">
				<ul class="item-list rental-item-list">
					1 Bedroom
					<small>Sleeps 3</small>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</ul>
			</div>
			<div class="col-xs-4 text-align-right">
				<div class="price col-xs-12">
					<h3>€ 123</h3>
					<a href="" class="btn btn-lg btn-default btn-primary">Book</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row stripe hotelstripe">
		<div class="row">
			<div class="col-xs-3 remove-padding rental-pic">
				<img src="images/hotel-placeholder.png" />
			</div>
			<div class="col-xs-5">
				<ul class="item-list rental-item-list">
					1 Bedroom
					<small>Sleeps 3</small>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</ul>
			</div>
			<div class="col-xs-4 text-align-right">
				<div class="price col-xs-12">
					<h3>€ 123</h3>
					<a href="" class="btn btn-lg btn-default btn-primary">Book</a>
				</div>
			</div>
		</div>
	</div>	
	<div class="row stripe hotelstripe">
		<div class="row">
			<div class="col-xs-3 remove-padding rental-pic">
				<img src="images/hotel-placeholder.png" />
			</div>
			<div class="col-xs-5">
				<ul class="item-list rental-item-list">
					1 Bedroom
					<small>Sleeps 3</small>
					<div class="rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
				</ul>
			</div>
			<div class="col-xs-4 text-align-right">
				<div class="price col-xs-12">
					<h3>€ 123</h3>
					<a href="" class="btn btn-lg btn-default btn-primary">Book</a>
				</div>
			</div>
		</div>
	</div>	
</div>