<header class="header-with-icons">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 icons-container">
				<div class="round-icon icon-you">
					<img src="images/you-icon.jpg" />
				</div>
				<div class="round-icon icon-friend">
					<img src="{{trips.people[0].picture}}" />
				</div>
			</div>
			<div class="col-xs-7">
				<h4>
					Your trip together with
					<b>{{trips.people[0].first_name}}</b>
				</h4>
				<a class="share-with-friend" role="button" data-toggle="collapse" data-target="#sharelink">
					Share with {{trips.people[0].first_name}}
				</a>
			</div>
		</div>
	</div>
</header>
<div id="sharelink" class="sharelink collapse">
    <input ng-model="searchURL" class="form-control">
</div>

<div class="dates-widget container">
	<form class="form-inline row">
		<div class="form-group col-xs-6">
			<label for="arrival-date">DEPARTURE</label>
			<div class="input-group">
				<input type="text" class="input-lg form-control date-picker" id="arrival-date" ng-model="startDate" >
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label for="return-date">RETURN</label>
			<div class="input-group">
				<input type="text" class="input-lg form-control date-picker" id="return-date" ng-model="endDate" >
			</div>
		</div>
		<div class="col-xs-12">
			<button type="submit" ng-click="redoSearch(  )" class="btn btn-default btn-lg btn-primary-inverted btn-fullwidth">Redo Search</button>
		</div>
	</form>
</div>


<div class="trip-cards container">
	<div class="row">
		<div class="col-xs-12">
			<div class="trips-message">Average prices for hotel + accommodation
			</div>
		</div>
	</div>
	<div ng-repeat="trip in fullTrips" class="row">
		<div class="col-xs-12">
			<div class="trip-card" ng-class="ready == false ? 'loading' : ''">
                
				<div class="row main-details">
					<div class="col-xs-10">
						<div class="row">
							<div class="col-xs-8 city-container">
								<h3>{{trip.city}}</h3>
								<h5>{{trip.country}}</h5>
							</div>
							<div class="col-xs-4 text-align-right">
								<h3 class="price ">{{trip.price}}€</h3>
								<small>{{trip.updating}}</small>
							</div>
						</div>
					</div>
					<button type="button" class="col-xs-1 dropdown-card" aria-expanded="false" data-target="#collapse{{trip.city}}" data-toggle="collapse" aria-controls="collapse{{trip.city}}">
						
					</button>
				</div>
				<div class="row trip-details collapse" id="collapse{{trip.city}}">
					<ul class="details-list">
						<li class="list-row">
							<ul class="col-xs-12 item-list trip-item-list">
								<li class="airport">{{trip.flights[0].originLocation}}</li>
								<li class="arrow"></li>
								<li class="airport">{{trip.flights[0].destinationLocation}}</li>
								<li class="item-price">{{ trip.flights[0].price }}</li>
							</ul>
						</li>
						<li class="list-row">
							<ul class="col-xs-12 item-list trip-item-list">
								<li class="airport">{{trip.flights[1].originLocation}}</li>
								<li class="arrow"></li>
								<li class="airport">{{trip.flights[1].destinationLocation}}</li>
								<li class="item-price">{{ trip.flights[1].price }}</li>
							</ul>
						</li>
						<li class="list-row">
							<ul class="col-xs-12 item-list hotel-item-list">
								<li class="other">Average home rental</li>
								<li class="item-price">€ 22</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="row graph">
					<ul class="col-xs-12 date-info">
						<li style="width: 33.33%;">
							<b>09.02</b>
							Friday
						</li>
						<li style="width: 33.33%;">
							<b>09.02</b>
							Friday
						</li>
						<li style="width: 33.33%;">
							<b>09.02</b>
							Friday
						</li>
					</ul>
					<ul class="col-xs-12 your-info">
						<li style="width: 33.33%;">
							
						</li>
						<li style="width: 33.33%;">
							
						</li>
						<li style="width: 33.33%;">
							
						</li>
						<div class="userdata">
							<h5>Alessio</h5>
							<h5 class="hours">48h</h5>
						</div>
						<div class="bar" style="width: 80%; left: 10%;">
						</div>
					</ul>
					<ul class="col-xs-12 friend-info">
						<li style="width: 33.33%;">
							
						</li>
						<li style="width: 33.33%;">
							
						</li>
						<li style="width: 33.33%;">
							
						</li>
						<div class="userdata">
							<h5>Nelle</h5>
							<h5 class="hours">48h</h5>
						</div>
						<div class="bar" style="width: 67%; left: 5%;">
						</div>
					</ul>
				</div> 
				<div class="row cta-row">
					<div class="col-xs-8">
						<h4>43 Hours Together</h4>
					</div>
					<div class="col-xs-4" >
						<div ng-if="ready == false"><img src="images/477.gif" class="spinner" /></div>
						<button ng-show="ready" ng-click="selectTrip(trip)" class="btn btn-default btn-lg btn-primary btn-less-padding" >
							Choose
						</button>
					</div>
				</div>
			</div>	
		</div>	
	</div>
</div>
