$fa-font-path: "../fonts"
@import "../bower_components/font-awesome/scss/font-awesome.scss"
@import "bootstrap/_bootstrap.scss"


$color-primary : #F36E7D
$color-secondary: #FFD166
$color-links: #F36E7D
$color-lightest: #FFFFFF
$color-light-gray: #EBEBEB
$color-gray: #EEEEEE
$color-dark-gray: darken(#D3D1D1, 20)
$color-darkest: #202020
$color-you: #60CFF8
$color-friend: #946EF3
$color-success: #85CE49


body
    font-family: 'Rubik'
    font-weight: 300
    margin: 0
    font-size: 14px

body, h1, h2, h3, h4 , h5, p, div, span, b
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a:focus,
a:active
    outline: 0

div, ul, li, span
    box-sizing: border-box
    margin: 0
    padding: 0
    list-style-type: none

.remove-padding
    padding: 0

.remove-padding-left
    padding-left: 0

.btn-fullwidth
    width: 100%
    text-align: center

.btn-less-padding
    padding: 10px 10px
    width: 100%
    z-index: 2
    display: block
    position: relative
    
.spinner
    max-width: 40px
    display: block
    margin: 0 auto
    position: absolute
    left: 0
    right: 0

.btn-primary-inverted
    @extend .btn
    @extend .btn-lg
    @extend .btn-default
    border-color: $color-primary
    color: $color-primary
    font-weight: 500
    margin-top: 8px
    &:focus,
    &:active
        border-color: darken($color-primary, 5)!important
        background: $color-primary!important
        color: $color-lightest!important

.text-align-right
    text-align: right

.text-align-left
    text-align: left

.text-align-center
    text-align: center

.btn-facebook
    background-color: #3B5998
    color: $color-lightest
    margin-bottom: 10px

.fa-facebook
    margin-right: 10px

.logo-header
    height: 48px
    width: 100%
    display: block
    color: $color-lightest
    background: url('/images/logo-white.png')no-repeat
    background-size: auto 28px
    background-color: $color-primary
    background-position: center center

.friendlist
    background: #f5f5f5
    //    padding: 10px 0

.friendlist h1
    font-size: 18px
    color: #333
    margin-top: 2%
    padding-bottom: 0

.friendlist p
    font-size: 14px
    color: #666
    margin: 0

.friendlist .icon
    float: left
    width: 30%
    max-width: 64px
    border: none
    display: inline-block
    margin-right: 10px
    border: 1px solid lighten($color-light-gray, 5)

.friendlist .action
    @extend .btn-primary-inverted

.ui-card
    background: #fff
    border: 1px solid $color-light-gray
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    padding: 10px
    margin-top: 2px
    &.ui-card-list-element
        box-shadow: none
        margin-top: 0px
        border-top: none
        &:first-child
            border-top: 1px solid #color-light-gray

.action
    float: right

#intro
    background: #F13B43 url(/images/splash.jpg) no-repeat
    background-size: contain
    background-position: center top
    display: table
    width: 100%
    height: 100%
    table-layout: fixed
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    text-align: center
    color: #FFF
    #logo
        position: absolute
        width: 100%
        height: 60px
        top: 10px
        background: url('/images/logo-red.png')no-repeat
        background-position: center center
        background-size: auto 60px
        display: block

#intro h1
    font-weight: 400
    width: 90%
    text-align: center
    margin: 0 auto
    margin-bottom: 20px

#intro h2
    font-size: 18px
    width: 90%
    line-height: 1.3
    font-weight: 300
    margin: 0 auto
    margin-bottom: 10%

#intro .pulldown
    //    bottom: 10px
    //    position: absolute
    //    left: 50%
    //    transform: translate(-50%, -50%)
    display: table-row

.intext
    display: table-cell
    height: 100%
    text-align: center
    vertical-align: middle
    width: 100%


header
    h2
        font-size: 22px
        font-weight: 500
        text-align: center
        width: 100%
        display: block
        padding-bottom: 5px
    border-bottom: 1px solid $color-light-gray
    padding-bottom: 5px
    margin-bottom: 10px


.share-with-friend
    font-size: 16px
    font-weight: 500
    margin-bottom: 20px
    padding-left: 25px
    position: relative
    &:before
        content: ""
        height: 18px
        width: 18px
        background: url('/images/icons/share.png')no-repeat
        background-size: contain
        position: absolute
        left: 0
        top: 0

.dates-widget
    position: relative
    clear: both
    display: block
    border-bottom: 1px solid $color-light-gray
    padding-top: 10px
    padding-bottom: 10px
    margin-bottom: 0px
    input[type="date"]
        -webkit-appearance: none
        -moz-appearance:    none
        appearance:         none
        width: 90%!important
    input[type=date]::-webkit-calendar-picker-indicator,
    input[type=date]::-webkit-inner-spin-button
        -webkit-appearance: none
        display: n65pxone
        margin: 0
        padding: 0

.header-with-icons
    min-height: 100px
    padding-top: 5px
    .icon-friend
        border-color: $color-friend
        left: 65px

.icons-container
    position: relative

.round-icon
    height: 70px
    width: 70px
    border-radius: 200px
    border: 4px solid
    display: inline-block
    overflow: hidden
    margin-top: 10px
    position: absolute
    img
        width: 100%
        height: auto

.icon-you
    border-color: $color-you

.icon-friend
    border-color: $color-friend

.trips-message
    font-size: 16px
    margin-top: 10px
    margin-bottom: 10px
    font-weight: 400
    color: $color-dark-gray
    padding-left: 85px
    background: url(/images/icons/icons-message.png)no-repeat
    background-size: 70px auto
    background-position: left center
    line-height: 1.2

.trip-card
    padding: 0px 10px
    overflow: hidden
    border: 1px solid darken($color-light-gray, 10)
    background: lighten($color-light-gray, 10)
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    margin-top: 5px
    margin-bottom: 10px
    h3
        padding-bottom: 0px
        margin-bottom: 0
    h5
        color: darken($color-dark-gray, 20)
    .city-container
        padding-bottom: 10px
    .price
        color: $color-success
        margin-bottom: 5px
    small
        line-height: 1.2
        color: darken($color-success, 20)
    .details-list
        background: $color-gray
        .list-row
            padding-left: 15px
            padding-right: 15px
            display: table
            clear: both
            border-top: 1px solid darken($color-gray, 10)
            background: $color-gray!important
            width: 100%
            padding-top: 10px
            padding-bottom: 10px
    ul, li
        margin: 0
        padding: 0
        list-style-type: none
.item-list
    display: block
    width: 100%
    font-size: 18px
    font-weight: 400
    li
        display: inline-block
    &.flight-item-list
        padding-left: 35px
        background: url('/images/icons/airplane.png')no-repeat
        background-size: 22px
        background-position: left center
    &.hotel-item-list
        padding-left: 35px
        background: url('/images/icons/accommodation.png')no-repeat
        background-size: 22px
        background-position: left center
    .airport
        font-size: 22px
    .arrow
        min-width: 25px
        background: url('/images/icons/airport-arrow.png')no-repeat
        background-size: contain
        margin-right: 5px
        margin-left: 5px
        display: inline-block
        height: 18px
    .item-price
        font-weight: 600
        display: inline-block
        float: right!important
    small
        display: block
        color: $color-dark-gray
    .flight-item-list
        font-size: 22px

.graph
    border-top: 1px solid $color-light-gray
    ul
        li:nth-child(even)
            background: rgba($color-darkest, 0.01)
    .date-info
        padding: 0px 15px 0px 15px
        display: table
        border-bottom: 1px solid $color-light-gray
        b
            display: block
        li
            display: inline-block
            border-left: 1px solid $color-light-gray
            padding-left: 5px
            color: darken($color-dark-gray, 10)
            padding-bottom: 10px
            padding-top: 10px
            &:first-child
                border-left: none
                padding-left: none
    .your-info
        position: relative
        margin-top: -1px
        padding: 0px 15px
        min-height: 50px
        display: table
        border-bottom: 1px solid $color-light-gray
        li
            display: inline-block
            border-left: 1px solid $color-light-gray
            padding-left: 3px
            min-height: 60px
            &:first-child
                border-left: none
                padding-left: none
        .userdata h5
            color: $color-you
        .bar
            background: $color-you!important
    .friend-info
        position: relative
        margin-top: -5px
        padding: 0px 15px
        min-height: 60px
        display: table
        border-bottom: 1px solid $color-light-gray
        li
            display: inline-block
            border-left: 1px solid $color-light-gray
            padding-left: 3px
            min-height: 50px
            &:first-child
                border-left: none
                padding-left: none
        .userdata h5
            color: $color-friend
        .bar
            background: $color-friend!important
    .userdata
        position: absolute
        width: 100%
        top: 3px
        left: 0px
        padding: 0px 15px
        font-size: 16px
        h5
            display: inline-block
            text-transform: uppercase
            &.hours
                float: right
                text-transform: none
    .bar
        height: 15px
        position: absolute
        bottom: 10px
        background: $color-dark-gray
        display: block

.cta-row
    padding-top: 10px
    padding-bottom: 10px
    h4
        padding-top: 5px
    a
        width: 100%

.main-details
    position: relative
    overflow: hidden
    .dropdown-card
        position: absolute
        right: 0
        top: 0
        height: 100%
        display: block
        padding: 0
        width: 15%
        border: none
        outline: none
        border-left: 1px solid $color-light-gray
        background: url(/images/icons/dropdown.png)no-repeat
        background-position: left 40% center
        background-size: 20px
        cursor: pointer
        background-color: none
        &:hover
            background-color: $color-light-gray
        &:not(:focus)
            background-color: none

.calculating
    display: none

.loading
    .main-details
        .price
            position: relative
            &:before
                content: ''
                background: url('/images/712.gif')no-repeat
                height: 18px
                width: 18px
                margin-right: 5px
                position: absolute
                left: -17px
                top: 4px
                background-size: contain
                display: inline-block
        .fa-check
            display: none!important
            margin-left: 4px
    .spin
        position: relative
        &:before
            content: ''
            background: url('/images/spinner-dark.gif')no-repeat
            height: 16px
            width: 16px
            margin-right: 5px
            position: absolute
            left: -19px
            top: -2px
            background-size: contain
            display: inline-block
        span
            display: none
        &.item-price
            top: 8px
    .bar
        display: none
    .your-info,
    .friend-info
        height: 35px
        min-height: 35px
        display: block
        li
            display: none
    .calculating
        display: block
        line-height: 40px
    .blink
        animation: blink 1s ease-in-out 0s infinite
    .hours-together
        display: none
 

@keyframes blink
    50%
        opacity: 0.0
@-webkit-keyframes blink
    50%
        opacity: 0.0


.sharelink
    padding: 0 10px

.header-tabs
    font-size: 18px
    padding-top: 10px
    h2
        text-align: left
        margin-bottom: 0
        padding-bottom: 0
        margin-top: 0
    h4
        color: darken($color-dark-gray, 10)
    a
        text-align: right
        font-weight: 500
        display: inline-block
        font-size: 16px
        line-height: 20px

#tabs
    display: block
    clear: both
    padding: 5px 15px 10px 15px
    border-bottom: 1px solid darken($color-gray, 5)
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    margin-bottom: 0px
    min-height: 37px
    li
        text-align: center
        position: relative
        display: inline-block
        min-height: 32px
        a
            position: relative
            width: 100%
            font-size: 16px
            text-transform: uppercase
            text-align: center
            display: block
            font-weight: 500
            color: $color-dark-gray
            cursor: pointer
            &:focus,
            &:hover
                color: darken($color-primary, 10)
                text-decoration: none
        &.active
            border-bottom: 3px solid $color-primary
            a
                color: $color-primary


.dark-bg
    background-color: $color-gray
    color: $color-darkest
    display: block
    padding: 3px 0px
    overflow: hidden

.trip-cards
    background-color: $color-gray
    color: $color-darkest
    padding-top: 10px

.stripe
    border: 1px solid darken($color-gray, 10)
    border-left: none
    border-right: none
    background: $color-lightest
    color: $color-darkest
    max-width: 105%
    padding: 10px 15px
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    font-size: 16px
    .price
        text-align: right
        h3
            color: $color-success
            margin-top: 0px
            padding-top: 0px

.overview-item-list
    .airport
        font-size: 16px
    .arrow
        height: 30px
        background-size: 16px auto
        background-position: center top

.pre-stripe
    padding-left: 15px
    color: $color-darkest

.agency
    text-align: right
    display: block
    padding-top: 5px
    border-top: 1px solid $color-light-gray
    margin-top: 5px
    color: $color-dark-gray

.hotelstripe
    padding: 0px 15px
    position: relative
    margin-bottom: 0px
    box-shadow: none
    .rental-pic
        overflow: hidden
        min-height: 120px
        position: relative
        img
            position: absolute
            height: 100%
            width: auto
            top: 0
            left: 0
    .rental-item-list
        margin-top: 10px
    .price
        margin-top: 10px
    i.star
        display: inline-block
        height: 20px
        width: 20px
        margin-right: 4px
        color: $color-secondary
    .rating
        color: $color-secondary
        margin-top: 25px